<h2>Encuentas del productor {{ productor.p_nom }}</h2>
<br>
{% if latest_rea_list %}
    <table border="1">
        <th>
            <td>Año</td>
            <td>Valor</td>
            <td>Porcentaje</td>
            <td>Fecha</td>
            <td>Decision</td>
            <td>Cliente</td>
        </th>
    {% for resultado_eval_anual in latest_rea_list %}
        <tr>
            <td>{{ resultado_eval_anual.year }}</td>
            <td>{{ resultado_eval_anual.valor }}</td>
            <td>{{ resultado_eval_anual.porc }}</td>
            <td>{{ resultado_eval_anual.fecha }}</td>
            <td>{{ resultado_eval_anual.decision }}</td>
            <td>{{ resultado_eval_anual.fk_rea_cli }}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No hay productores.</p>
{% endif %}